<%- include('partials/header') -%>
  <div class="container mt-5 mx-auto">
    <div class="row justify-content-center mt-5 p-1">
      <ul class="flex flex-wrap justify-evenly">
        <% for(var i=0; i<albums.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <div class="card w-96 bg-base-100 shadow-xl">
              <a href="/album/<%= albums[i]._id%>">
                <figure><img class="img-fluid" src="<%= albums[i].image%>"></figure>
                <div class="card-body">
                  <h2 class="card-title">
                    <%= albums[i].title%>
                  </h2>
                  <p><%= albums[i].caption%></p>
                </div>
              </a>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>