<%- include('partials/header') -%>
<div class="container mt-5 px-4">
  <div class="container">
    <div class="carousel-item w-1/2 space-x-4">
      <div class="col-6 justify-content-between mt-5">
        <h2><%= post.title%></h2>
        <figure><img class="img-fluid" src="<%= post.image%>"/></figure>
      </div>
    </div>
    <div class="flex space-x-80 mt-5">
      <div>
        <form
          class="form"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-secondary fa fa-heart" ></button>
        </form>
        <h3 class="col-1">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
      </div>
        <form
        action="/post/deletePost/<%=post.album%>/<%= post.id %>?_method=DELETE"
        method="POST"
        class="col-1"
      >
        <button class="btn btn-secondary fa fa-trash" ></button>
      </form>
      <%}%>
    </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=post.album%>/<%=post._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="label">Comment</label>
            <input type="text" class="textarea textarea-secondary" id="comment" name="comment">
        </div>
        <button  class="btn btn-secondary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <!--Add user attribution-->
          <span>User <%= comments[i].createdBy%> says: "<%= comments[i].comment%>" 
          <!--If comment was created by current user, then show delete button-->
          <br> <% if(comments[i].createdById == user.id){ %>
                <form
                  action="/comment/deleteComment/<%=post.album%>/<%= post._id %>/<%= comments[i]._id %>?_method=DELETE"
                  method="POST"
                  >
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
                <%}%>
        </li>
      <% } %>
    </ul>
    <div class="col-6 mt-5">
      <a class="btn btn-secondary" href="/profile">Return to Profile</a>
      <a class="btn btn-secondary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
